# Ignore virtual environment
venv/

# Ignore database file
db.sqlite3

# Ignore static files
/staticfiles/

# Ignore media files
/media/

# Ignore local settings (settings.py with sensitive info)
community_events/settings_local.py

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore macOS system files
.DS_Store

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore logs
logs/

# Ignore environment variables file (if using)
.env